@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-foreground: var(--foreground);
  --color-white: var(--white);
  
  /* Font Sizes */
  --font-size-default: 20px;
  --font-size-heading: 120px;
  --font-size-title: 28px;
  --font-size-caption: 16px;
  --font-size-auth: 44px;
  
  /* Font Families */
  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-roboto: 'roboto', sans-serif;
  --font-family-bricolage: 'Bricolage Grotesque', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;
  
  /* Screen Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

:root {
  --primary: #0D0E4E;
  --secondary: #1764FE;
  --tertiary: #F0F0F0;
  --foreground: #181819;
  --white: #FFFFFF;
}